.wordList {
  list-style: none;
  max-width: 1024px;
  padding-top: 1rem;
  padding-left: 0;
  margin: auto;
  column-width: 8rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-light);
  font-family: 'Roboto Mono', monospace;
}

.wordList__title {
  margin: 1rem 0 0.25rem;
}

.wordList__titleText {
  width: fit-content;
  background-color: var(--primary-light);
  padding: 0 0.5rem;
  font-weight: 900;
  font-variant: small-caps;
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
}

.wordList__title:nth-of-type(1) {
  margin-top: 0;
}
