.definition {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 355px;
  font-size: 1rem;
  color: var(--text-dark);
}

.definition h1 {
  margin: 0.5rem 0;
}

.definition__phonetic {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  font-weight: lighter;
}

.definition__loading {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--text-dark);
}

.definition__type {
  font-style: italic;
  margin: 0.5rem 0 0;
}
