.app {
  margin: 0 auto;
}

.app__header {
  text-align: center;
  color: var(--primary-light);
  margin: 0 auto 0.5rem auto;
}

.app__hint {
  text-align: center;
  color: var(--primary-light);
  margin: 0 0 0.5rem;
}

.app__results {
  text-align: center;
  color: var(--primary-light);
  margin: 0.5rem 0 0;
}
