.app {
  margin: 0 auto;
}

.hint {
  text-align: center;
  color: var(--primary-light);
  margin: 0 0 0.5rem;
}

.results {
  text-align: center;
  color: var(--primary-light);
  margin: 0.5rem 0 0;
}
