.app {
  margin: 0 auto;
}

.app__header {
  text-align: center;
  color: var(--primary-light);
  letter-spacing: 0.2rem;
  margin: 0 auto 0.5rem auto;
}

.app__hint {
  font-size: 1.25rem;
  text-align: center;
  color: var(--primary-light);
  margin: 0 0 0.5rem;
}

.app__hint--bold {
  font-size: 1.3rem;
  font-weight: 900;
}

.app__results {
  text-align: center;
  color: var(--primary-light);
  margin: 0.5rem 0 0;
}
