.text-input-form {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 50px;
  grid-gap: 0.25rem;
  justify-content: center;
}

.text-input {
  font-size: 2rem;
  width: 100%;
  border: 1px;
  padding: 0.25rem;
  font-family: inherit;
  letter-spacing: 0.25rem;
  border-radius: 0px;
}

.submit-button {
  background-color: #fff;
  border: 1px;
  font-family: inherit;
  font-size: 1.5rem;
}
