.text-input-form {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 50px;
  grid-gap: 0.25rem;
  justify-content: center;
}

.text-input {
  font-size: 2rem;
  width: 100%;
  border: 1px;
  padding: 0.25rem;
  font-family: inherit;
  letter-spacing: 0.1rem;
  border-radius: 0px;
  color: var(--primary-dark);
}

.submit-button {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border: 1px;
  font-family: inherit;
  font-size: 1.5rem;
}
