@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px) scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: translatex(0) scale(1, 1);
  }
}

.word {
  --delay: 1000ms;
  display: grid;
  opacity: 0;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 0.25rem;
  justify-content: space-between;
  margin: 0.25rem 0;
  animation: 600ms cubic-bezier(0.645, 0.045, 0.355, 1) var(--delay) 1
    slideInFromLeft;
  animation-fill-mode: forwards;
}
