:root {
  --primary-light: #feffff;
  --primary-dark: #cb2d3e;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  max-width: 960px;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #cb2d3e;
  background: linear-gradient(to top, #ef473a, #cb2d3e);
  background-attachment: fixed;
  overflow-y: overlay;
}
