:root {
  /* Red Theme */
  --primary-light: #fcf4f5;
  --primary-dark: #cb2d3e;
  --text-dark: #8e1f2b;
  --accent: #e5969e;

  /* Blue Theme */
  --primary-light: #f1f2f3;
  --primary-dark: #193549;
  --text-dark: ##112533;
  --accent: #8c9aa4;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: 'Oxygen', sans-serif;
  background: var(--primary-light);
  overflow-y: overlay;
}
